.archive-title{
	display: inline-block;
	margin: .15rem 0;
	padding-right: .1rem;
	border-right: #ddd dashed .01rem;
	font-weight: normal;
}
.archive-title-en{
	padding-left: .1rem;
	color: #a1a1a1;
}
.archives{
	text-align: left;
	margin-bottom: .2rem;
}
.archives li{position: relative;line-height: .26rem}
#mobile-app .archives h3{
	padding-left: .5rem;
}
.archives h3{
	font-size: .25rem;
	padding-left: 1.5rem;
}
#mobile-app .mons-list{
	margin-left: 0;
}
.mons-list{
	position: relative;
	list-style-type: none;
	margin-left: 1rem;
	padding: .15rem 0;
}
.mons-list:before{
	position: absolute;
	content: '';
	display: block;
	left: .8rem;
	top: 0;
	width: .06rem;
	height: 100%;
	background: linear-gradient(to bottom,rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
	z-index: 5;
}
.ml-item>span{position: relative;cursor: pointer}
.ml-item>span:before{
	position: absolute;
	top: .02rem;
	left: .76rem;
	content: '';
	width: .15rem;
	height: .15rem;
	background: white;
	border: .03rem solid #FF7D7D;
	border-radius: .1rem;
	z-index: 10;
	box-sizing: border-box;
}

	.ml-item .days-list{
		margin-left: .45rem;
		padding-left: .5rem;
		overflow: hidden;
		list-style-type: none;
		transition: .5s ease-in-out;
	}
		.days-list a{
			position: absolute;
			left: .4rem;
			right: 0;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		.days-list a:hover{
			color: #00a1d6;
		}
		.days-list .day{
			color: #FF7D7D;
		}
		.ml-item .days-list li:before{
			position: absolute;
			content: '';
			top: .1rem;
			left: -.16rem;
			border-radius: .1rem;
			border: .04rem solid #FF7D7D;
			box-sizing: border-box;
			z-index: 10;
		}
