.to-article{
	display: none;
}
.panel{
	box-shadow: 0 0 .1rem rgba(0,0,0,.2);
	border-radius: .05rem;
	margin-bottom: .25rem;
	background: rgba(255,255,255,.8);
	overflow: hidden;
	transition: .4s;
}
.panel-img{
	overflow: hidden;
	height: 1.8rem;
}
	.panel-img .img{
		width: 100%;
    height: 100%;
		object-fit: cover;
		object-position: center;
		transition: .4s;
	}
	.panel:hover .img{
		transform: scale(1.1);
	}
.panel-info{
	padding: .1rem .2rem;
	text-align: left;
	color: #636363;
}
	.panel-info .title{
		font-size: .2rem;
    line-height: 1.6;
		transition: color .5s;
	}
	.panel-info .preview{
		font-size: .15rem;
	}
	.panel-info a.title:hover{
		color: #5abebc;
	}
  .panel-info .cut-line{
    margin: .1rem 0;
    border-color: #ccc;
  }
	.panel-info .meta{
		font-size: .14rem;
		color: #a7a8a9;
	}
    .panel-info .meta>*{
      margin-right: .1rem;
    }
    .panel-info .meta a:hover{
      color: #ff7d7d;
    }
