/*==================================================================*/
/*pattern-center*/
.pattern-center{
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	max-width: 9rem;
}
.ph-img:before{
	content: '';
	position: absolute;
	top: 1.5rem;
	left: 0;right: 0;bottom: 0;
	border-top-right-radius: .05rem;
	border-top-left-radius: .05rem;
	background-color: rgba(0,0,0,.3);
	transition: .5s ease-in-out;
}
.ph-img{
	border-top-right-radius: .05rem;
	border-top-left-radius: .05rem;
	background: no-repeat center center;
	background-size: cover;
	background-origin: border-box;
	width: 100%;
	height: 4rem;
	margin-top: 1.5rem;
	transition: .3s ease;
}

/*==================================================================*/
/*pattern-full-width*/
.pattern-full-width{
	position: relative;
	width: 100%;
	overflow: hidden;
	box-shadow: 0 .03rem .05rem #1e1e1e50;
	z-index: 1;
}
.pattern-full-width:before{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.1);
	transition: .5s ease-in-out;
}
.page-img{
	background: no-repeat center center;
	background-size: cover;
	background-origin: border-box;
	width: 100%;
	height: 5rem;
	transition: all .5s;
}
.page-info{
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	top: 40%;
	color: white;
	padding: 0 .5rem;
	text-shadow: 0.02rem 0.02rem 0.1rem black;
}
.page-info .intro{
	font-size: .4rem;
	letter-spacing: .05rem;
	margin-bottom: .1rem;
	transition: .5s;
}
.page-info .tsukkomi{
	font-size: .2rem;
}

/*==================================================================*/
/*Note和Tag*/
#mobile-app .category-list .category-list-item{
	margin: 0 .1rem;
}
#mobile-app .tag-query-result ul li{
	margin: 0;
}
.category-list .category-list-item,.tag-query-result ul li{
	margin: 0 .5rem;
	padding: .1rem 0;
	line-height: .2rem;
	border-bottom: .01rem dotted #eaeaea;
	animation: mini-fadeInDown 1s cubic-bezier(.25,.46,.45,.94) forwards;
}
	.category-list-item .item-num,.tag-query-result ul li .item-type{
		display: inline-block;
		vertical-align: top;
		font-size: .12rem;
		margin-right: .05rem;
		padding:  0 .05rem;
		border-radius: .1rem;
		border: .01rem solid #9dd9ff;
		line-height: .18rem;
		user-select: none;
		color: #00a1d6;
	}
	#mobile-app .category-list-item .item-name,#mobile-app .tag-query-result ul li .item-name{
		max-width: calc(100% - 1.1rem);
	}
	.category-list-item .item-name,.tag-query-result ul li .item-name{
		display: inline-block;
		max-width: calc(100% - 1.5rem);
	}
		.item-name .item-link{
			font-size: .15rem;
			transition: .5s;
			word-wrap: break-word;
		}
		.item-name .item-tag{
			display: inline-block;
			font-size: .12rem;
			background: #eaeaea;
			padding: 0 .05rem;
			border-radius: .1rem;
      margin-left: .05rem;
      user-select: none;
		}
		.item-name .item-link:hover{
			color: #00a1d6;
		}
	.category-list-item .item-date,.tag-query-result ul li .item-date{
		font-size: .12rem;
		float: right;
		color: #888888;
	}

/*==================================================================*/
/*Tag和Archive*/
	.tag-cloud h2,.tag-query-result h2{
		margin: .1rem 0;
		font-size: .2rem;
	}
	.tag-cloud h4{
		margin: .1rem 0;
	}
	.tag-cloud .roll-toggle{
		display: inline-block;
		text-align: center;
		vertical-align: middle;
		background: #eaeaea;
		padding: .05rem 0;
		width: .22rem;
		font-size: .12rem;
		line-height: .12rem;
		border-radius: .03rem;
		transition: all .5s cubic-bezier(.25,.46,.45,.94);
	}
	.tag-cloud .roll-toggle:hover{
		color: white;
		background: rgba(0,0,0,.8);
	}
	.tag-list{
		list-style-type: none;
		overflow: hidden;
		max-height: 1rem;
		transition: 1s;
	}
	.tag-list.more{
		max-height: 10rem;
	}
		.tag-list .tag{
			display: inline-block;
			padding: 0 .08rem;
			color: #6d757a;
			margin-right: .05rem;
			margin-bottom: .1rem;
			border: .02rem solid rgba(0,0,0,.1);
			border-radius: 1rem;
			font-size: .14rem;
			line-height: .2rem;
			user-select: none;
			transition: .5s cubic-bezier(.25,.46,.45,.94);
		}
			.tag-list .tag:hover a,.tag-list .tag.cur a{
				color: white;
			}
	.tag-list .tag:hover,.tag-list .tag.cur{
		border-color: rgba(0,0,0,.5);
		background: rgba(0,0,0,.5);
	}

/*==================================================================*/
/*waiting*/
.waiting{
	margin: 0 auto;
	text-align: center;
	height: 2.35rem;
	padding: 1rem 0;
	width: .5rem;
	font-size: .1rem;
}
.waiting>div{
	display: inline-block;
	height: 100%;
	width: .05rem;
	background: #00a1d6;
	animation: stretchdelay 1.2s infinite ease-in-out;
}
.waiting .rect2{
	animation-delay: -1.1s;
}
.waiting .rect3{
	animation-delay: -1s
}
.waiting .rect4{
	animation-delay: -.9s;
}
.waiting .rect5{
	animation-delay: -.8s;
}

/*==================================================================*/
/*pager*/
	.pager{
		position: relative;
		height: .4rem;
		width: 1.2rem;
		margin: .2rem auto;
		cursor: pointer;
		text-align: center;
		clear: both;
	}
		.previous-more{
			position: relative;
			color: #5abebc;
			text-shadow: 0 .01rem .01rem #00a1d6;
			line-height: .4rem;
			background: rgba(255,255,255,.8);
			transition: all	.25s ease;
		}
		.pager:hover .previous-more{
			color: white;
			text-shadow: 0 0 .05rem white;
			transform: translate(.02rem,.02rem);
		}
			.previous-more span{
				position: relative;
				z-index: 2;
			}

			.previous-more:before{
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				background: rgba(135, 186, 237, 0.8);
				height: 100%;
				width: 0;
				transition: .25s ease-out;
			}
			.pager:hover .previous-more:before{
				width: 100%;
			}
		.pager .dec{
			position: absolute;
			height: .4rem;
			width: 1.2rem;
			top: .05rem;
			left: .05rem;
			border: .02rem solid #5abebc;
			transition: .25s ease-out;
		}
		.pager:hover .dec{
			border-color: #00a1d6;
			transform: translate(.02rem,.02rem);
		}

/*==================================================================*/
/*panel-h*/
	.panel-h{
		width: 100%;
		height: 2rem;
		margin-bottom: .3rem;
		border-radius: .03rem;
		background: rgba(252,250,242,.7);
		box-shadow: 0 .02rem .05rem rgba(0,0,0,.3);
		transition: all .5s ease-in-out;
		animation: fadeInDown .6s cubic-bezier(.25,.46,.45,.94);
	}
	.panel-h-img{
		width: 50%;
		height: 100%;
		overflow: hidden;
	}
	.panel-h:nth-child(odd) .panel-h-img{
		float: right;
		border-top-right-radius: .03rem;
		border-bottom-right-radius: .03rem;
	}
	.panel-h:nth-child(even) .panel-h-img{
		float: left;
		border-top-left-radius: .03rem;
		border-bottom-left-radius: .03rem;
	}
	.panel-h-img a,.panel-topped a{
		display: block;
		height: 100%;
		font-size: 0;
	}
	.panel-h-img img,.panel-topped img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
		transition: .5s;
	}
	.panel-h:hover img{
		opacity: .9;
	}
	.panel-h-img .float-preview{
		position: relative;
		height: .9rem;
		font-size: .14rem;
		text-indent: 2em;
		line-height: .2rem;
		overflow: hidden;
		padding: .1rem .15rem 0;
		color: #f5f5f0;
		background: rgba(0,0,0,.5);
		transition: .5s ease;
	}
	.panel-h:hover .float-preview{
		transform: translateY(-.9rem) ;
	}
	.panel-h-info{
		position: relative;
		display: inline-block;
		width: 50%;
		float: right;/*??*/
	}
	.panel-h:nth-child(odd) .post-time{
		float: left;
		margin-top: .15rem;
		margin-left: .2rem;
	}
	.panel-h:nth-child(even) .post-time{
		float: right;
		margin-top: .15rem;
		margin-right: .2rem;
	}
	.panel-h .post-read{
		position: absolute;
		bottom: 0;
		font-size: .16rem;
		line-height: .2rem;
		user-select: none;
		color: #FF7D7D;
		padding: 0 .1rem;
		border: .02rem solid #FF7D7D;
		border-radius: .03rem;
	}
	.panel-h:nth-child(odd) .post-read{
		left: .15rem;
	}
	.panel-h:nth-child(even) .post-read{
		right: .15rem;
	}
	.pt-ym{
		padding-bottom: .1rem;
	}
	.pt-d{
		font-weight: 100;
		font-size: .55rem;
		font-style: italic;
		line-height: .3rem;
	}
	.post-meta{
		transform: rotate(90deg);
		transform-origin: left top;
		display: inline-block;
		position: absolute;
		top: .15rem;
		right: -1.75rem;
		font-size: .13rem;
		width: 1.8rem;
		color: #c5ccd3;
	}
	.panel-h:nth-child(even) .post-meta{
		left: .22rem;
	}
	.post-meta span{
		margin-right: .1rem;
	}
	.post-meta a:hover{
		color: #FF7D7D;
	}
	.post-title{
		writing-mode: vertical-rl;
		float: right;
		margin: .15rem .4rem 0 0;
		height: 1.7rem;
		font-size: .17rem;
		text-align: left;
	}
	.panel-h:nth-child(even) .post-title{
		float: left;
		margin: .15rem 0 0 .4rem;
	}
	.post-title p{
		letter-spacing: .005rem;
		text-transform: uppercase;
		text-shadow: 0 0 .02rem rgba(0,0,0,.4);
	}
	.post-title p:first-letter{
		font-size: .25rem;
		padding-bottom: .03rem;
		margin-top: -.04rem;
	}
	.post-title a{
		color: #425066;
		line-height: 1;
	}

/*==================================================================*/
/*content-aside-board*/
.cah.board,.ca.board {
	min-height: 1.1rem;
	position: relative;
	overflow: hidden;
}
.board-head{
	position: absolute;
	top: .15rem;
	left: 0;
	bottom: .2rem;
	line-height: 1;
	writing-mode: vertical-rl;
	border-right: .01rem dashed #c5ccd3;
	user-select: none;
}
.board-head span{
	display: inline-block;
	padding: 0 .1rem;
}
.board-content{
	font-size: .14rem;
	letter-spacing: .003rem;
	line-height: .18rem;
	text-align: left;
	text-indent: 2em;
	margin: .16rem .1rem .4rem .45rem;
	color: #425066;
}
.board-post-time{
	position: absolute;
	right: .15rem;
	bottom: .15rem;
	color: #bbb;
	font-size: .12rem;
}

/*==================================================================*/
/*paging-box*/
.paging-box{
	margin: .3rem 0;
	text-align: left;/*??*/
}
#mobile-app .paging-box .pb-original{
	margin: 0;
}
.paging-box .pb-original{
	display: inline-block;
	margin: 0 .2rem;
	border-radius: .05rem;
	list-style-type: none;
}
.pb-original li{
	float: left;
	height: .25rem;
	width: .25rem;
	line-height: .25rem;
	color: #009ccd;
	cursor: pointer;
	user-select: none;
	text-align: center;
	transition: background-color.3s;
}
.pb-original .ellipses{
	cursor: auto;
}
.pb-original li:hover{
	background: #eaeaea;
}
.pb-original .prev{
	border-top-left-radius: .05rem;
	border-bottom-left-radius: .05rem;
}
.pb-original .next{
	border-top-right-radius: .05rem;
	border-bottom-right-radius: .05rem;
}
.pb-original .current{
	background: #009ccd !important;
	color: white;
	text-shadow: 0 0 .04rem white;
	border-radius: .05rem;
}
.pb-jump{
	float: right;
	color: #99a2aa;
	line-height: .25rem;
	font-size: .14rem;
	margin-right: .2rem;
}
.pb-jump input,.comment-robot-check input{
	background: transparent;
	outline: none;
	border: .01rem solid #ddd;
	border-radius: .05rem;
	width: .4rem;
	line-height: .23rem;
	padding: 0 .07rem;
	color: #6c6c6c;
	text-align: center;
	transition: .3s;
}
.pb-jump input:focus,.comment-robot-check input:focus{
	border-color: #009ccd;
}

/*==================================================================*/
/*APlayer*/
#aplayer{
	z-index: 1900;
	box-shadow: 0 0 0.1rem #1e1e1e80;
}
#aplayer.aplayer .aplayer-body{
	border-radius: 0 .05rem .05rem 0;
	box-shadow: 0 .1rem .1rem #1e1e1e80;
	overflow: hidden;
}
#aplayer.aplayer .aplayer-lrc p.aplayer-lrc-current {
	text-shadow: none;
	color: #00a1d6;
	font-size: .16rem;
	font-weight: bold;
}
#aplayer.aplayer .aplayer-lrc p{
	font-size: .14rem;
	opacity: .8;
	font-weight: bold;
	text-shadow: none;
}
#aplayer.aplayer-narrow .aplayer-body{
	left: -66px;
}
#aplayer:not(.aplayer-narrow) .aplayer-body,#aplayer.aplayer-narrow:hover .aplayer-body{
	left: 0;
}

/*==================================================================*/
/*ctrlPanel&settingPanel*/
.miniFadeUD-enter-active{
	animation: mini-fadeInUp .3s cubic-bezier(.25,.46,.45,.94);
}
.miniFadeUD-leave-active{
	animation: mini-fadeInUp .3s cubic-bezier(.25,.46,.45,.94) reverse;
}
#mobile-app .setting-panel,#mobile-app .ctrl-panel{
	display: none;
}
.setting-panel{
	position: fixed;
	right: .2rem;
	bottom: .3rem;
	color: #2e2e2e;
	background: #fafafa;
	border: .06rem solid #5abebc15;
	border-radius: .05rem;
	width: 2.5rem;
	box-shadow: 0 0 .2rem #5abebc20;
	z-index: 2000;
}
	.setting-panel section{
		display: flex;
		padding: .1rem .05rem;
	}

	.setting-panel .toggle-mode{
		padding-right: .05rem;
		border-right: .01rem solid #eaeaea;
		text-align: center;
	}
		.toggle-mode.switching button{
			animation:switch 1.2s cubic-bezier(.25,.46,.45,.94);
		}
		.setting-panel .toggle-mode button{
			height: .66rem;
			width: .66rem;
			border-radius: 50%;
			line-height: .66rem;
			font-size: .5rem;
			color: orange;
		}
		.setting-panel .toggle-mode button:hover{
			background: #5abebc10;
		}

	.setting-panel .theme-switch{
		display: flex;
		flex-flow: column wrap;
		justify-content: space-between;
		flex: 1;
		padding-left: .05rem;
	}
		.setting-panel .theme-switch .theme-list{
			flex: 1;
			font-size: 0;
			list-style-type: none;
			margin-bottom: .04rem;
		}
			.theme-list li{
				display: inline-block;
				background: #5abebc10;
				margin-right: .05rem;
				width: .3rem;
				height: .3rem;
				line-height: .3rem;
				border-radius: 50%;
				cursor: pointer;
			}
			.theme-list li:hover,.theme-list li.theme-on{
				background: #5abebc;
				color: white;
			}
				.theme-list li i{
					margin: 0;
					font-size: .16rem;
				}

		.setting-panel .font-family-setting{
			flex: 1;
		}
			.setting-panel .font-family-setting button{
				height: 100%;
				font-size: .16rem;
				background: #5abebc10;
				color: #2e2e2e;
				margin: 0 .05rem;
				border-radius: .04rem;
				width: calc(50% - .1rem);
				transition: .3s ease;
			}
			.setting-panel .font-family-setting button.selected{
				background: #5abebc;
				color: white;
			}
	.setting-panel section.links{
		border-top: .01rem solid #eaeaea;
		justify-content: space-between;
		flex-flow: row wrap;
		font-size: .2rem;
		line-height: .2rem;
		padding: .1rem;
	}
	.setting-panel section.links i{
		margin: 0;
	}
	.setting-panel section.links a[title^="Sign"]{
		font-weight: bold;
	}


.ctrl-panel{
	position: fixed;
	display: none;
	bottom: 0;
	right: 0;
	color: #3e3e3e;
	margin-right: .1rem;
	line-height: .3rem;
	user-select: none;
	animation: frontFlip .6s ease-in-out both;
	cursor: pointer;
	z-index: 1900;
}
.ctrl-panel.visible{
	display: block;

}
	.ctrl-panel i{
		font-size: .2rem;
		animation: spin 3s linear infinite;
	}

/*==================================================================*/
/*text-css*/
.comment-content>p,.d-card-content .text>p{margin-bottom: 1em}
.comment-content ul,.d-card-content .text ul{
	padding-left: 1.5em;
}
.comment-content>ul,.d-card-content .text>ul{
	margin-bottom: .1rem;
}
.comment-content pre,.d-card-content .text pre{
	font-family: "Fira Code VF",monospace,sans-serif;
	position: relative;
	overflow: auto;
	padding: 1em 0 0 3em;
	background: #f9f9f999;
	margin: .05rem 0;
	border: .01rem solid #eaeaea;
	border-radius: .03rem;
	line-height: 1.2;
	font-size: 85%;
	max-width: 100%;
}
#mobile-app pre .copy-btn{
	opacity: 1;
	bottom: 0;
	top: unset;
	right: unset;
	left: 0;
	font-size: .12rem;
	z-index: 1;
}
pre .copy-btn{
	position: absolute;
	top: .1rem;
	right: .1rem;
	opacity: 0;
	color: #b8c0cc;
	background: #f8f8f8f0;
	line-height: 1.4;
	padding: 0 .03rem;
	border-radius: .03rem;
	transition: .3s ease;
}
pre:hover .copy-btn{
	opacity: 1;
}
pre .copy-btn:hover{
	background: #f0f0f0;

}
.comment-content pre .line-numbers-rows,.d-card-content .text pre .line-numbers-rows{
	position: absolute;
	top: 1em;
	padding: 0;
	margin: 0;
	left: 0;
	width: 2.5em;
	text-align: center;
	border-right: .01rem solid #b8c0cc;
	list-style-type: none;
	color: #b8c0cc;
	user-select: none;
}
.comment-content pre>code,.d-card-content .text pre>code{
	font-family: inherit;
	line-height: inherit;
	word-spacing: normal;
	word-wrap: normal;
	word-break: normal;
	white-space: pre;
	background: transparent;
}
.hljs{
	background: transparent !important;
	padding: 0 1em 1em 0 !important;
}
blockquote{
	margin: .1rem .05rem;
	padding: .5em 1em;
	background: #fafafa;
	position: relative;
	border-radius: .05rem;
	text-align: left;
	border-left: .04rem solid #ddd;
	color: rgba(121, 121, 121, .8);
	font-style: italic;
	line-height: 1.5;
	transition: .5s ease-in-out;
}
blockquote blockquote{
	padding: 0 .1rem;
	background: transparent;
}
blockquote>:first-child{
	margin-top: 0 !important;
}
blockquote>:last-child{
	margin-bottom: 0 !important;
}
.comment-content a,.about-post a,.link-description a,.d-card-content a{
	color: #5abebc;
	position: relative;
	word-break: break-all;
}
.comment-content a:hover,.about-post a:hover,.link-description a:hover,.d-card-content a:hover{
	color: #00a1d6;
}
.comment-content a:after,.about-post a:after,.link-description a:after,.d-card-content a:after{
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: .02rem;
	bottom: -.01rem;
	left: 0;
	background-color: #00a1d6;
	transform-origin: bottom right;
	transition: transform .3s ease-in-out;
}
.comment-content a:hover:after,.about-post a:hover:after,.link-description a:hover:after,.d-card-content a:hover:after{
	transform: scaleX(1);
	transform-origin: bottom left;
}
.comment-content del,.about-post del,.link-description del,.d-card-content .text del{
	background: #1e1e1e;
	color: #1e1e1e;
	transition: .3s ease;
	text-decoration: none;
}
.comment-content del:hover,.about-post del:hover,.link-description del:hover,.d-card-content .text del:hover{
	color: white;
}
.comment-content p code,.d-card-content .text p code{
	font-family: "Fira Code VF",monospace,sans-serif;
	padding: .03rem;
	font-size: 80%;
	background: #1b1f230d;
	border-radius: .03rem;
	color: #ff7d7d;
}
.comment-content strong,.d-card-content .text strong{
	font-weight: bold;
}

/*==================================================================*/
/*mavon-editor force css*/
#mobile-app .publish-area .v-note-wrapper{
	height: 5.5rem;
}
.publish-area .v-note-wrapper{
	height: 8rem;
	clear: both;
}
.content-area .v-note-wrapper{
	z-index: 999;
  border: none;
}
/*.content-area .v-note-edit.divarea-wrapper,.content-area .v-note-show{
	min-height: 7rem;
}*/
.content-area article .entry-content{
  min-height: 7rem;
}
.content-area .v-note-wrapper, .content-area .v-show-content,.content-area textarea:disabled{
	background: transparent !important;
	padding: 0 !important;
}
.content-area .v-note-wrapper .v-note-panel{
	border: none;
}
.katex-display{
	overflow-x: auto;
	overflow-y: hidden;
}
/*.publish-area .v-note-wrapper,.publish-area .v-note-op{*/
/*	background: rgba(255,255,255,.8) !important;*/
/*}*/
/*.publish-area .v-show-content{*/
/*	background: rgba(251,251,251,.8) !important;*/
/*}*/

/*==================================================================*/
/*info-box*/
.info-box-enter-active,.info-box-leave-active{
	transition: .5s cubic-bezier(.25,.46,.45,.94);
}
.info-box-enter,.info-box-leave-to{
  transform: translate(-50%,-.4rem) !important;
  opacity: 0;
}
.info-box{
	position: fixed;
	top: 0;
	left: 50%;
	height: .4rem;
	min-width: 1.5rem;
	color: #fff;
	padding: 0 .2rem;
	line-height: .4rem;
  border-radius: .04rem;
	transform: translate(-50%,.1rem);
	z-index: 2000;
}
.info-box h4{
	white-space: nowrap;
}

/*==================================================================*/
/*defaults&suffixes*/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html{
	overflow-x: hidden;
	font-size: 625%;
	scroll-behavior: smooth
}
a{text-decoration: none;transition: .5s ease;color: inherit;outline: none}
a:focus{outline:none}
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
	border:none
}
p,ul,ol{display: block;}
h1{letter-spacing: 2px}
button{
	color: inherit;
	cursor: pointer;
	border: none;
	background: transparent;
	outline: none;
}
textarea{
	background: transparent;
}
input::-webkit-search-cancel-button{
	display: none;
}
::-webkit-scrollbar{
	width: .08rem;
	height: .08rem;
}
::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 .01rem #b8c0cc;
	background: #eee;
}
::-webkit-scrollbar-thumb{
	background-color: #5abebc;
}
::selection {
	background:rgba(33, 33, 37, 0.6);
	color:white;
}
.pr{float: right}.pl{float: left}
.tr{text-align: right}.tl{text-align: left}.tc{text-align: center}
.fzz{font-size: 0}.fz-12{font-size: .12rem}.fz-14{font-size: .14rem}
.dis-ib{display: inline-block}.dis-b{display: block}
.pointer{cursor: pointer}
.ellipsis{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.no-select{user-select: none;}
.iconfont{margin-right: .03rem;display: inline-block}
.clearm{margin:0}
.ibold{font-weight: 600}
.cut-line{
	border-bottom: 1px solid darkgray;
	margin: 10px ;
}
.cut-line-d{
	border: .01rem dashed #dadada;
	margin: .1rem;
}
.isolate{
	margin: 0 .05rem;
}
.lazyload-preload{
	filter: blur(2px);
}
.is-collapsible{
	max-height: 10rem; /*折叠的关键*/
	overflow: hidden;
	transition:1s;
}
.is-collapsed{
	max-height: 0;
}

/*==================================================================*/
/*404-not-find*/
.not-find-404{
	background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
}
.container-404{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	transform: translate(-50%,-50%);
	color: #daf6ff;
	text-shadow: 0 0 .15rem #0aafe6;
}
.container-404 section{
	margin: .1rem 0;
}

/*==================================================================*/
/*no-more-bottom*/
.no-more{
	position: relative;
	height: 1.2rem;
	margin: .2rem 0;
	line-height: 1.2rem;
	color: #8b8e99;
	text-align: center;
	user-select: none;
}
.no-more:before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: url("/static/images/nomore.png") center/contain no-repeat;
}

/*==================================================================*/
/*other*/
.page-enter-active,.page-leave-active{
  transition: .3s ease-in-out;
}
.page-enter,.page-leave-to{
  opacity: 0;
}
.masked{
	-webkit-overflow-scrolling:touch;
	position: fixed;
	width: 100%;
}
#app,#mobile-app {
	font-family: Ubuntu,"Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","WenQuanYi Micro Hei",sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #1e1e1e;
	/*color: #2c3e50;*/
	font-size: .16rem;
	/*background: #f1f4f7;测试*/
}
/*测试*/
.site-wrapper,#app.bg-no-rep,#mobile-app.bg-no-rep{
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}
.page-content-wrap,.page-header-wrap{
	transition: .5s ease-in-out;
}
.bg-no-rep .page-content-wrap,.bg-no-rep .page-header-wrap{
	background: rgba(255,255,255,.5);
}
.page-content{
	max-width: 8rem;
	padding: 0 .1rem;
	margin: 0 auto;
	transition: .5s ease-in-out;
	background: rgba(255,255,255,.7);
}
.page-content.article,.page-content.link{
	padding-bottom: .5rem;
}
.notice{
	margin: .2rem  0;
	padding: .1rem .2rem;
	border: .01rem dashed #e2e2e2;
	background: rgba(255,255,255,.7);
	color: #939393;
}
.pager-no-more{
	color: grey;
	margin: .2rem 0;
	text-align: center;
	padding: .1rem;
	clear: both;
}
.cah,.ca{
	width: 100%;
	border-radius: .05rem;
	background: rgba(252,250,242,.7);
	box-shadow: 0 0.02rem 0.05rem rgba(0,0,0,.3);
	margin-bottom: .2rem;
}
.mobile-back2top{
	display: none;
	position: fixed;
	right: .15rem;
	bottom: .15rem;
	height: .4rem;
	width: .4rem;
	font-size: .18rem;
	background: rgba(255,255,255,.9);
	box-shadow: 0 0 .04rem rgba(0,0,0,.12), 0 .04rem .04rem rgba(0,0,0,.24);
	border-radius: .1rem;
	animation: fadeIn .3s both ease;
	z-index: 1900;
}
.mobile-back2top.visible{
	display: block;
}
.back2top{
	position: fixed;
	transform: translate(1.1rem,0);
	font-size: 0;
	opacity: .66;
	bottom: .4rem;
	right: .05rem;
	z-index: 1900;
	cursor: pointer;
	user-select: none;
	transition: .3s ease-in-out;
}
.back2top.visible{
	transform: translate(0,0);
}
