.header-top{
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 .2rem .1rem rgba(0,0,0,0.5);
}
.header-top:before{
	content: '';
	background: url(/static/images/dot.png) fixed ;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9;
}

.htbg{
	position: relative;
	width: 100%;
	height: 0;
	background: no-repeat center center fixed;
	background-size: cover;
	overflow: hidden;
	transition: 1s;
}

.focusinfo{
	position: relative;
	max-width: 8rem;
	padding: 0 .1rem;
	top: 48%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 99;
	color: #f5f5f0;
}
	.ht-title{
		font-size: .7rem;
	}
	.ht-info{
		max-width: 5rem;
		margin: .2rem auto 0;
		background: rgba(0,0,0,.4);
		padding: .1rem .2rem;
		line-height: .2rem;
		font-size: .2rem;
		font-weight: 600;
		border-radius: .1rem;
	}
		.social-box{
			color: #009ccd;
			margin: .1rem 0;
		}
			.social-box i{
				font-size: .2rem;
				vertical-align: top;
			}
			.social-box a{
				display: inline-block;
				margin: 0 .1rem;
				vertical-align: top;
				height: .2rem;
			}
.htbg-info{
	position: absolute;
	bottom: .3rem;
	right: .2rem;
	height: .5rem;
	width: 1.3rem;
	padding-right: .05rem;
	background: rgba(25,25,25,.3);
	border-radius: .03rem;
	z-index: 10;
}
	.htbg-info .author-avatar{
		display: inline-block;
		width: .4rem;
		height: .4rem;
		border-radius: 100%;
		background-size: 100%;
		margin: .05rem;
	}
	.work-name,.author-name{
		float: left;
		font-size: .14rem;
		font-weight: 600;
		line-height: .2rem;
		display: inline-block;
		text-align: left;
		max-width: .75rem;
		min-width: .4rem;
		color: #f5f5f0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}.work-name{margin-top: .05rem;}.author-name{margin-bottom: .05rem;}
.ht-down{
	position: absolute;
	font-size: .35rem;
	bottom: .3rem;
	cursor: pointer;
	color: #f5f5f0;
	z-index: 10;
	left: 50%;
	text-shadow: 0 0 .1rem #e6e6e1;
	animation: floating 1s infinite alternate;
}

/*HeaderTop*/
/*==================================================================*/
/*SiteFooter*/
.site-footer{
	padding: .25rem .5rem;
	background: rgba(255,255,255,0.88);
	box-shadow: 0 -.01rem .05rem #1e1e1e10;
	color: #6d757a;
	font-size: .15rem;
	line-height: 1.4;
	text-shadow: 0 0 .02rem #1e1e1e50;
	transition: .5s ease-in-out;
}
.site-info,.site-banner{
	animation: holdFadeIn 2s linear forwards;
}
.site-footer a:hover{
	color: #5abebc;
}
.site-info{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	max-width: 9rem;
	margin: 0 auto;
}
	.site-info section{
		flex: 2;
		text-align: left;
	}
	.site-info section:last-child{
		flex: 1;
		padding-left: .3rem;
		border-left: .01rem solid #eaeaea;
	}
		.site-info section a[title]{
			margin-right: .05rem;
			font-size: 0;
			display: inline-block;
			margin-bottom: .05rem;
		}
.site-banner{
	margin-top: .05rem;
	line-height: 1;
	color: #1e1e1e;
}
	.site-banner a{
		font-size: .22rem;
		font-weight: bold;
	}
