.page-content.homepage{
	max-width: 10.5rem;
	overflow: hidden;/*解决子元素浮动撑不开父元素*/
	height: 100%;
	transition: 1s cubic-bezier(.25,.46,.45,.94);
	background: transparent;
}
#app .page-content.homepage.hidden{
	opacity: 0;
}
.content-primary-h{
	max-width: 7rem;
	width: 100%;
	margin: 0 auto;
	float: left;
	transition: .1s;
}

	.description{
		margin: .2rem 0;
		padding-bottom: .1rem;
		border-bottom: .01rem dashed #eaeaea;
	}
	.topped-list{
		overflow: hidden;
	}
		.panel-topped.odd:last-child{
			width: calc(100% - .1rem);
		}
		.panel-topped{
			margin: 0 .05rem .1rem .05rem;
			height: 1.5rem;
			width: calc(50% - .1rem);
			position: relative;
			overflow: hidden;
			float: left;
		}
		.panel-topped:before{
			content: 'TOP';
			position: absolute;
			right: .1rem;
			top: .1rem;
			text-align: center;
			width: 1rem;
			transform-origin: top;
			background: #00a1d699;
			font-size: .16rem;
			line-height: .2rem;
			font-weight: bold;
			color: white;
			z-index: 10;
			transform: translateX(50%) rotate(45deg);
		}
			.panel-topped a{
				border-radius: .05rem;
				overflow: hidden;
			}
				.panel-topped a:hover .float-preview{
					transform: translateY(-100%);
				}
				.panel-topped a:hover img{
					transform: scale(1.1);
				}

				.panel-topped .float-preview{
					position: relative;
					height: 100%;
					font-size: .14rem;
					overflow: hidden;
					padding: .2rem .15rem 0;
					color: #f5f5f0;
					background: rgba(30,30,30,.6);
					transition: .5s ease;
					text-align: center;
				}
					.panel-topped .float-preview h3{
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						font-size: .2rem;
						line-height: .4rem;
					}
.content-aside-h{
	margin-top: .5rem;
	width: 2.8rem;
	float: right;
}
	.cah.hit{
		height: 100%;
		overflow: hidden;
		position: relative;
	}

	.update-head,.hit-head{
		padding: .1rem .1rem 0;
	}
	.update-content,.hit-content{
		padding: .1rem .1rem .1rem .3rem;
		font-size: .14rem;
		list-style-type: none;
	}
		.update-content a:hover{
			color: #4e9b99;
		}
		.update-content li{
			display: block;
			position: relative;
			padding-left: .16rem;
			line-height: .22rem;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		.update-content li:before{
			position: absolute;
			left: 0;
			content: '❁';
			color: #5abebc;
		}


		.hit-content span,.update-content span{
			font-size: .12rem;
			user-select: none;
			color: #bbb;
		}
		.hit-content li{
			position: relative;
			margin-bottom: .1rem;
		}
		.hit-content li:before{
			position: absolute;
			content: attr(data-text);
			width: .32rem;
			height: .32rem;
			top: 50%;
			left: 0;
			transform: translate(0,-50%);
			line-height: .32rem;
			font-size: .22rem;
			font-family: "Fira Code VF",sans-serif;
			text-align: center;
			border-radius: 50%;
			border: .01rem dashed #ccc;
		}
		.rc-item{
			margin-left: .4rem;
		}
			.rc-item a:hover{
				color: #4e9b99;
			}
