.login-wrap{
	position: relative;
}
.login-wrap:before{
	content: '';
	position: absolute;
	background-image: url(/root/site/bg/loginbg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	filter: blur(2px);
}
.login{
	width: 350px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: .2rem .25rem;
	background: rgba(255,255,255,.5);
	border-radius: .05rem;
  color: #333;
	text-align: left;
}
	.login h1{
		text-align: center;
		margin-bottom: .2rem;
	}
	.login label{
		color: #555;
		font-size: .14rem;
	}
	.login input{
		display: block;
		border: .01rem solid #eaeaea;
		border-radius: .03rem;
		padding: .05rem .1rem;
		transition: .5s;
		color: grey;
		margin-top: .1rem;
		margin-bottom: .15rem;
		width: 100%;
		outline: none;
		font-size: .18rem;
	}
	.login input:focus{
		border-color: #00a1d6;
		color: #1e1e1e;
	}
		.login .remember span{
			float: right;
			position: relative;
			display: inline-block;
			width: .4rem;
			height: .2rem;
			border-radius: .1rem;
			background-color: grey;
			cursor: pointer;
			transition: .5s ease;
		}
		.login .remember span.active{
			background-color: #14b119;
		}

		.login .remember span:before{
			content: '';
			position: absolute;
			top: .02rem;
			left: .02rem;
			height: .16rem;
			width: .16rem;
			border-radius: 50%;
			transition: .5s ease;
			background: white;
		}
		.login .remember span.active:before{
			left: .22rem;
		}

		.login .login-submit button{
			display: block;
			width: 100%;
			color: white;
			margin-top: .1rem;
			padding: .05rem .1rem;
			font-size: .16rem;
			line-height: .2rem;
			border-radius: .05rem;
			border: .01rem solid rgba(0,0,0,.1);
			background: linear-gradient(to bottom,#00a1d6, #0093c3 90%);
		}
