.LBimg-enter-active{
	animation: fadeIn .2s cubic-bezier(.25,.46,.45,.94);
}
.LBimg-leave-active{
	animation: fadeOut .2s cubic-bezier(.25,.46,.45,.94);
}
.LB-enter-active{
	animation: fadeIn .5s cubic-bezier(.25,.46,.45,.94);
}
.LB-leave-active{
	animation: fadeOut .5s cubic-bezier(.25,.46,.45,.94);
}
.luminous-box-container{
	position: fixed;
	z-index: 2000;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}
	.sidebar-show .luminous-box-inner{
		right: 2rem;
	}
	.luminous-box-bg,.luminous-box-inner,.luminous-box-stage{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.luminous-box-bg{
		background: rgba(30,30,30,.9);
	}

		.luminous-box-topbar{
			position: absolute;
			padding-left: .25rem;
			color: #ccc;
			top: 0;
			left: 0;
			right: 0;
			height: .45rem;
			line-height: .45rem;
			z-index: 2010;
		}
			.luminous-box-topbar button{
				background: rgba(30,30,30,.8);
				height: .45rem;
				line-height: .45rem;
				width: .45rem;
				text-align: center;
				font-size: .2rem;
				float: right;
				color: #bbbbbb;
				transition: 1s cubic-bezier(.25,.46,.45,.94);
			}
			.luminous-box-topbar button:hover,.luminous-box-nav button:hover{
				color: #ffffff;
			}
			.luminous-box-nav button{
				position: absolute;
				background: rgba(30,30,30,.6);
				height: .8rem;
				width: .5rem;
				font-size: .2rem;
				top: 50%;
				transform: translate(0,-50%);
				transition: .5s;
				z-index: 2010;
				color: #bbbbbb;
			}
			.luminous-box-nav button.lprev{
				padding: .2rem .1rem .2rem 0;
				margin-left: .1rem;
				font-weight: 600;
				left: 0;
			}
			.luminous-box-nav button.rnext{
				padding: .2rem 0 .2rem .1rem;
				margin-right: .1rem;
				font-weight: 600;
				right: 0;
			}
		.luminous-box-stage{
			overflow: hidden;
			z-index: 2004;
		}
			.luminous-box-stage .luminous-box-img-wrap{
				padding: 1rem 0;
				overflow: hidden;
				height: 100%;
				line-height: calc(100% - 2rem);
			}
				.luminous-box-img-wrap img{
					position: relative;
					top:50%;
					transform:translateY(-50%);
					background: transparent;
					max-height: 100%;
					object-fit: cover;
					max-width: 100%;
					user-select: none;
				}
		.luminous-box-caption{
			position: absolute;
			background: linear-gradient(transparent,rgba(30,30,30,.8));
			bottom: 0;
			left: 0;
			right: 0;
			color: white;
			padding: .2rem;
			font-size: .2rem;
			height: 1rem;
			z-index: 2006;
		}
	.luminous-box-sidebar{
		position: absolute;
		background: rgba(0,0,0,.2);
    box-shadow: -.04rem 0 .04rem .02rem #ffffff20;
		top: 0;
		bottom: 0;
		right: 0;
		width: 2rem;
		padding: .1rem;
		overflow: auto;
		z-index: 2005;
	}
		.luminous-box-sidebar a.active{
			border-color: #FF7D7D;
			box-shadow: 0 .04rem .07rem rgba(0,0,0,.2);
		}
		.luminous-box-sidebar a{
			display: block;
			background: no-repeat center center;
			background-size: cover;
			height: 1rem;
			border: .03rem solid transparent;
			margin-bottom: .05rem;
			cursor: pointer;
			transition: .5s;
		}
